<html>
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
    </head>
    <body>
        <h1>Hello hbs</h1>

        <footer>
            <p>Copyright {{copyrightYear}} OneJar</p>
        </footer>
    </body>
</html>
