<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <h1>{{bodyTitle}}</h1>
        <p>{{bodyText}}</p>

        <footer>
            <p>Copyright {{copyrightYear}}</p>
        </footer>
    </body>
</html>
